@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
    color: #eee;
}
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
}
.remark-slide-content h1 {
    font-size: 3em;
}
.remark-slide-content h2 {
    font-size: 2em;
}
.remark-slide-content h3 {
    font-size: 1.6em;
}
.footnote {
    position: absolute;
    bottom: 3em;
}
li p {
    line-height: 1.25em;
}
.red {
    color: #f00;
}
.green {
    color: #0f0;
}
a, a > code {
    color: #38f;
    text-decoration: none;
}
code {
    background: #e7e8e2;
    border-radius: 5px
}
.no-curves code {
    border-radius: 0;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
    font-size: 26px !important;
}
.remark-code-line-highlighted {
    background-color: #333;
}
.pull-left {
    float: left;
    width: 47%;
}
.pull-right {
    float: right;
    width: 47%;
}
.pull-right ~ p {
    clear: both;
}
.title {
    text-shadow: 0 0 20px #555;
}
.title h1, .title h2 , .title h3{
    color: #fff;
    line-height: 0.8em;
}

/* Two-column layout */
.left-column {
    color: #777;
    width: 20%;
    height: 92%;
    float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
    color: #ccc;
}
.right-column {
    width: 75%;
    float: right;
    font-size: 1.6em;
}
.right-column > * {
    padding-top: 1em;
    margin: 0;
}
.no-padding > * {
    padding-top: 0;
}
.padding {
    padding-top: 1em;
}
.huge h1 {
    font-size: 6em;
}
.huge h2 {
    font-size: 4em;
}
.huge h3 {
    font-size: 2em;
}

/* Slide-specific styling */
